target/classes/choice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="2857" basePath="services" doc:name="HTTP Listener Configuration"/>
    <flow name="choiceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/test" doc:name="HTTP"/>
        <set-session-variable variableName="method" value="#[message.inboundProperties.'http.method']" doc:name="Session Variable"/>
        <logger message="#[sessionVars.method]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="">
                <logger message="The method is  ----  #[sessionVars.method]" level="INFO" doc:name="Logger"/>
            </when>
            <when expression="">
                <logger message="The method is  ----  #[sessionVars.method]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="The method is  ----  #[sessionVars.method]" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <set-payload value="The method used here is #[sessionVars.method]" doc:name="Set Payload"/>
    </flow>
</mule>
